$bg-light: #ffffee;
$fg-light: black;

* {
  margin: 0;
  padding: 0;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.intro {
  display: flex;
  padding-block: 1.2rem;
  flex-direction: row;
  justify-content: center;

  h1 {
    font-size: 3.5rem;
  }
}

a {
  color: rgb(21, 94, 117);
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.section {
  margin-block: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;

  h2 {
    margin-block: 0.5rem;
    font-size: 1.875rem;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: rgba($fg-light, 0.25);
    &:hover {
      text-decoration-color: $fg-light;
    }
  }

  ul {
    list-style-position: inside;
    line-height: 1.6;
    list-style-type: disc;

    ul {
      padding-left: 1.5rem;
    }
  }
}

.anim {
  transition-property: all;
  transition-timing-function: linear;
  transition-duration: 150ms;
}

button {
  outline: none;
  border: none;
  background-color: $bg-light;
  padding: 0.75rem 1rem 0.75rem 1rem;
  border-radius: 0.25rem;

  &:hover {
    filter: brightness(80%);
  }
}

header {
  padding-block: 0.75rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

body {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3;
  background-color: $bg-light;
  color: $fg-light;
}
